/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
}

.textoRoboto{
    font-family: 'Roboto', sans-serif;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
}

button:focus {
    color: white;
}

img {
    width: 50px;
}

div>p:first-child {
    display: inline;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.botao-amarelo:hover {
    background-color: #ce9909;
}

.container {
    height: 500px;
    text-align: center;
    padding-top: 100px;
  }

.icone {
    height: 15px;
    width: 15px;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
}

#container-de-descricao>ol {
    padding: 15px 0px;
}

#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    font-size: 60px;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
    text-align: center;
    margin:auto;
}


td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

td button:hover{
    background-color: #f5c43e;
    color: white;
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}

input {
    border-bottom-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
} 

#centraliza-botao {     
    text-align: center;
    padding-top: 100px;
}

#back-button:hover {
    background-color: #cccfcfe8;
    color: white;
}

