*{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

button {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(179, 149, 168);
    border-color: rgb(247, 246, 248);
    color: white;
}

.menu{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50px;
}

#aboutme{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    height: max-content;
    justify-items: center;
}

#curriculo{
    background-color: brown;
    display: flex;
    height: max-content;
}

header {
    display: grid;
    justify-items: center;
    height: 100px;
    grid-template-columns: 1fr;
    background-color: rgb(234, 184, 247);
}

.rodape1{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    background-color: rgb(234, 184, 247);
    justify-content: center;
    align-items: center;
    height: 30px;

}

.imagem{
    width: 15px;
    height: 15px;
    justify-content: center;
}

.rodape2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(234, 184, 247);
    justify-content: center;
    height: 50px;
}