.smallcard-container{
    display: flex;
    border: 1px solid black;
    padding: 20px 10px;
    
    margin-bottom: 10px;
    width: 40vw;
    align-items: center;
}

.smallcard-container > img{
    width: 3vw;
    height: 7vh;
}

.smallcard-container > h4 {
    margin-right: 1vw;
    margin-left: 1vw;
}