
*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: mediumvioletred;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: mediumvioletred;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container-acessos {
    display: flex;
    flex-direction: column;
    background-color: #f2d0e0;
    height: 0px;
    width: 300px;

}

#container-bolos {
    padding-left: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    
}

.centralizar{
    display: grid;
    justify-items: center;
    border: darkgray;
   
}

.menu{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f2d0e0;
}