
*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: mediumvioletred;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

footer {
    background-color: mediumvioletred;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    height: 840px;
}

#container-acessos {
    display: flex;
    flex-direction: column;
    background-color: #f2d0e0;
    height: 840px;
    width: 200px;
    flex-grow: 1;
}

#container-bolos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    flex-grow: 5;
    border: 20px solid white;
    
}

.centralizar{
    display: grid;
    justify-items: center;
    border: 2px solid darkgray;
    
   
}

.menu{
    display: grid;
    grid-template-columns: 30px 240px 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f2d0e0;
}

.bolo-imagem{
    width: 200px;
    height: 200px;
}